@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Foldit", sans-serif;
    background-color: #181818;
    overflow-x: hidden; /*barra de rolagem na horizonta */
    overflow-y: scroll;
}

.navbar {
    backdrop-filter: blur(2px);
    background-color: rgba(73, 71, 71, 0.548);
}

.navbar .navbar-brand {
    color: #c0c0c0;
    font-weight: bold;
}

.navbar .nav-item .nav-link {
    color: #ffffff;
}

.scrolled {
    background-color: #3a3939;
}

.carousel-inner {
    max-height: 100vh;
}

.carousel-inner .carousel-item img {
    max-height: 100vh;
    object-fit: cover;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    width: 100%;
    left: 0;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h3 {
    color: #f82f2f;
    font-weight: bolder;
    font-size: 32px;
    font-family: "Foldit", serif;;
}

@media only screen and (max-width: 500px){
    .carousel-caption h3 {
        font-size: 20px;
    } 
    
}

.carousel-caption p {
    color: #fff;
}

.rowposter {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.rowposter a {
    cursor: inherit;
}

.rowimg {
    margin-right: 10px;
    border-radius: 20px;
    box-sizing: content-box;
    transition: transform 450ms;
    max-height: 300px;
    object-fit: contain;
}

.rowimg:hover {
    transform: scale(1.10);
}

.rowposter::-webkit-scrollbar {
    display: none;
}

.logo {
    height: 50px;
    width: 50px;
}

.bx-movie {
    font-size: 100px;
    position: relative;
    color: #eaeaea;
}

a.nav-link.active {
    color: white !important;
    font-weight: 800;
}

#pesquisar input[type=text] {
    padding: 15px 20px;
    font-weight: 600;
    background-color: white;
    border-radius: 50px;
    width: 100%;
    font-size: 18px;
    border:  #e50914 solid 2px;
}

#pesquisar button {
    padding: 12px;
    font-size: 20px;
    top: 2px;
    right: 0;
    border-radius: 50%;
    width: 60px;
    border:  #e50914 solid 2px;
    background-color: #e50914;
    color: white;
}